In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
#Now we load the dataset
df = pd.read_csv("D:/new project/drinks_csv.csv")
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,afghanistan,0,0,0,0.0
1,albania,89,132,54,4.9
2,algeria,25,0,14,0.7
3,andorra,245,138,312,12.4
4,angola,217,57,45,5.9
...,...,...,...,...,...
188,venezuela,333,100,3,7.7
189,vietnam,111,2,1,2.0
190,yemen,6,0,0,0.1
191,zambia,32,19,4,2.5
192,zimbabwe,64,18,4,4.7

In [5]:
#now we drops the rows with missing values
df.dropna(inplace=True)
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,afghanistan,0,0,0,0.0
1,albania,89,132,54,4.9
2,algeria,25,0,14,0.7
3,andorra,245,138,312,12.4
4,angola,217,57,45,5.9
...,...,...,...,...,...
188,venezuela,333,100,3,7.7
189,vietnam,111,2,1,2.0
190,yemen,6,0,0,0.1
191,zambia,32,19,4,2.5
192,zimbabwe,64,18,4,4.7

In [10]:
# NOW Select relevant features
X = df[['wine_servings', 'spirit_servings', 'beer_servings']]
y = df['total_litres_of_pure_alcohol']

# Now Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
# Now Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
X
y

0       0.0
1       4.9
2       0.7
3      12.4
4       5.9
       ...
188     7.7
189     2.0
190     0.1
191     2.5
192     4.7
Name: total_litres_of_pure_alcohol, Length: 193, dtype: float64

In [26]:
# Now we Starts the train the Machine learning Models with the help of Linear Regression
from sklearn.linear_model import LinearRegression

In [12]:
# Genrate a Linear Regression model
MLmodel = LinearRegression()
MLmodel

LinearRegression()

In [25]:
# Train the  ML-model
MLmodel.fit(X_train, y_train)
MLmodel

LinearRegression()

In [ ]:
# . Assess the model's performance using appropriate regression metrics such as Mean Absolute Error (MAE), Mean Squared Error (MSE), and R-squared (R2).

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [18]:
# Make predictions
y_pred = MLmodel.predict(X_test)
# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Absolute Error: 0.87
Mean Squared Error: 1.87
R-squared: 0.91

In [19]:
# Interpret the model coefficients, understand the impact of each feature on alcohol consumption.

In [21]:
# Get the model coefficients (weights)
coefficients = MLmodel.coef_
feature_names = ['wine_servings', 'spirit_servings', 'beer_servings']
for feature, coef in zip(feature_names, coefficients):
 print(f"{feature}: {coef:.2f}")

wine_servings: 1.29
spirit_servings: 1.18
beer_servings: 1.85

In [22]:
# We can now use the trained model to predict alcohol consumption for new data by providing the relevant features (GDP, healthcare spending, population